.employee {
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;

    background-color: #fff;
    box-shadow: 0 0 2px #aaa;
}